body {
  line-height: 1.7em;
  color: #333;
}

p {
  font-size: 18px;
  line-height: 1.7em;
  margin-bottom: 1.47em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.47;
  letter-spacing: -0.04em;
  color: #111;
}

h1 {
  font-weight: 100;
  margin-top: 0;
  font-size: 3.4em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.707em;
}

.margin-none {
  margin: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}
