// @import "salesforce-lightning-design-system";
@import "variables";
@import "type";
@import "mixins";
@import "tags";

* {
  box-sizing:border-box;
}

body {
  color: #4A4A4A;
  -webkit-font-smoothing:antialiased;
}

#map {
  position:relative;
  top:0;
  bottom:0;
  height: 500px;
  width: 100%;
  margin-bottom: 40px;
}

.feature-photo {
  height: 100%;
  min-height: 600px;
}
