@import "salesforce-lightning-design-system";
@import "variables";
@import "type";
@import "mixins";
@import "tags";

* {
  box-sizing:border-box;
}

body {
  font-family: 'Salesforce Sans';
  color: #4A4A4A;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing:antialiased;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  padding-right: 4rem;
  padding-left: 4rem;
}

.content {
  padding-top: 40px;
}

.sidebar {
  min-height: calc(100vh);
  width: 260px;
  padding: 20px;
  background-color: #F6F9FA;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: block;

      a {
        padding: .75rem 0;
        line-height: 1.28571428571429;
        text-decoration: none;
      }
    }
  }
}

.content {
  flex-grow: 1;
}
