{% include head.html %}


<div class="w-100 mw8 center pa2 mv3 tc">
		{% if page.image != null %}
				<!-- <img src="{{page.image}}" alt=""> -->
		{% endif %}
		<div class="f1 mb3">{{ page.title }}</div>
		<div class="ttu f4 b">
			{% if page.Vessel_Type != null %}
				{{ page.Vessel_Type }},
			{% endif %}
			{% if page.City != null %}
				{{ page.City }}, {{ page.State }}
			{% endif %}
		</div>
		<div class="mv2 flex flex-column">
			{% if page.lat != null %}
				<div>Coordinates: {{ page.lat }}, {{ page.long }}</div>
				<a href="https://www.google.com/maps/place/{{ page.lat }}+{{ page.long }}" class="dib" target="_blank">Open in Google Maps</a>
			{% endif %}
		</div>
	</div>
	<div id="map" class="db pa0 center"></div>

	<script>
		L.mapbox.accessToken = 'pk.eyJ1IjoibWF0dGdyYWhhbSIsImEiOiIxQWRqZ3BnIn0.p-Pqtf5oe_tnulEwDY2Hcw';
		var map = L.mapbox.map('map', 'mapbox.streets')
			.setView([{{ page.lat }}, {{ page.long }}], 13);

		L.marker([{{ page.lat }}, {{ page.long }}], {
				icon: L.mapbox.marker.icon({
						'marker-color': '#fa0'
				})
		}).addTo(map);

		// Disable drag and zoom handlers.
		// map.dragging.disable();
		map.touchZoom.disable();
		// map.doubleClickZoom.disable();
		map.scrollWheelZoom.disable();
		// map.keyboard.disable();

		// Disable tap handler, if present.
		if (map.tap) map.tap.disable();
	</script>
</div>


<div class="flex-ns w-100 mw8 center pa3">
	<div class="w-100 w-70-ns">
		{{ content }}
	</div>
	<div class="dn dib-ns w2"></div>
	<div class="w-100 w-30-ns">
			{% if page.Vessel_Type != null %}<div class="dib w-100"><strong>Vessel Type:</strong> {{ page.Vessel_Type }}</div>{% endif %}
			{% if page.Year_Built != null %}<div class="dib w-100"><strong>Year Built:</strong> {{ page.Year_Built }}</div>{% endif %}
			{% if page.Official_Number != null %}<div class="dib w-100"><strong>Official Number:</strong> {{ page.Official_Number }}</div>{% endif %}
			{% if page.Built != null %}<div class="dib w-100"><strong>Built:</strong> {{ page.Built }}</div>{% endif %}
			{% if page.Builder != null %}<div class="dib w-100"><strong>Builder:</strong> {{ page.Builder }}</div>{% endif %}
			{% if page.Hull_Materials != null %}<div class="dib w-100"><strong>Hull Materials:</strong> {{ page.Hull_Materials }}</div>{% endif %}
			{% if page.Length != null %}<div class="dib w-100"><strong>Length:</strong> {{ page.Length }}</div>{% endif %}
			{% if page.Beam != null %}<div class="dib w-100"><strong>Beam:</strong> {{ page.Beam }}</div>{% endif %}
			{% if page.Depth != null %}<div class="dib w-100"><strong>Depth:</strong> {{ page.Depth }}</div>{% endif %}
			{% if page.Weight != null %}<div class="dib w-100"><strong>Weight:</strong> {{ page.Weight }}</div>{% endif %}
			{% if page.Lost != null %}<div class="dib w-100"><strong>Lost:</strong> {{ page.Lost }}</div>{% endif %}
	</div>
</div>

{% include footer.html %}
