{% include head.html %}
	<div id="map" class="db pa0 center"></div>
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoibWF0dGdyYWhhbSIsImEiOiJjbDMxdTIzZzMxd3BlM2RxYzV5eDJ2ZTlwIn0.X7nh8SoB_3Ds7l3AvJR2bw';
		const map = new mapboxgl.Map({
			container: 'map', // container ID
			style: 'mapbox://styles/mapbox/streets-v11', // style URL
			center: [{{ page.long }}, {{ page.lat }}], // starting position [lng, lat]
			zoom: 10 // starting zoom
		});

		// This GeoJSON contains features that include an "icon"
		// property. The value of the "icon" property corresponds
		// to an image in the Mapbox Light style's sprite.
		const places = {
			'type': 'FeatureCollection',
			'features': [
				{
					'type': 'Feature',
					'properties': {
						'description': "{{ page.title }}",
						'icon': 'embassy-15'
						
					},
					'geometry': {
						'type': 'Point',
						'coordinates': [{{ page.long }}, {{ page.lat }}]
					}
				}
			]
		};
			
		map.on('load', () => {
			// Add a GeoJSON source containing place coordinates and information.
			map.addSource('places', {
				'type': 'geojson',
				'data': places
				});
				
				map.addLayer({
					'id': 'poi-labels',
					'type': 'symbol',
					'source': 'places',
					'layout': {
						'text-field': ['get', 'description'],
						'text-variable-anchor': ['top', 'bottom', 'left', 'right'],
						'text-radial-offset': 1,
						'text-justify': 'auto',
						'icon-image': ['get', 'icon'],
						'icon-size': 1
					}
				});
		});
	</script>
</div>


<div class="w-100 center tc">
	<div class="f2 b tracked-tight mb2">{{ page.title }}</div>
		<div class="f4">
			{% if page.Vessel_Type != null %}
				{{ page.Vessel_Type }},
			{% endif %}
			{% if page.City != null %}
				{{ page.City }}, {{ page.State }}
			{% endif %}
		</div>
</div>

<div class="flex-ns w-100 mw8 center pa3">
	<div class="w-100 w-70-ns">
		{% if page.image != "" %}
			<div class="flex flex-column">
				<img src="{{page.image}}" alt="" class="">
				<div class="mt2 mb4 gray">{{page.image_notes}}</div>
			</div>
		{% endif %}

		{{ content }}
	</div>
	<div class="dn dib-ns w2"></div>
	<div class="w-100 w-30-ns">
			{% if page.lat != null %}
				<div class="mb3">
					<div class="b">Coordinates:</div>
					<input type="text" value="{{ page.lat }}, {{ page.long }}" readonly class="pa2">
					<a href="https://www.google.com/maps/place/{{ page.lat }}+{{ page.long }}" class="db mv2" target="_blank">Open in Google Maps</a>
				</div>
			{% endif %}

			{% if page.Vessel_Type != null %}<div class="dib w-100"><strong>Vessel Type:</strong> {{ page.Vessel_Type }}</div>{% endif %}
			{% if page.Year_Built != null %}<div class="dib w-100"><strong>Year Built:</strong> {{ page.Year_Built }}</div>{% endif %}
			{% if page.Official_Number != null %}<div class="dib w-100"><strong>Official Number:</strong> {{ page.Official_Number }}</div>{% endif %}
			{% if page.Built != null %}<div class="dib w-100"><strong>Built:</strong> {{ page.Built }}</div>{% endif %}
			{% if page.Builder != null %}<div class="dib w-100"><strong>Builder:</strong> {{ page.Builder }}</div>{% endif %}
			{% if page.Hull_Materials != null %}<div class="dib w-100"><strong>Hull Materials:</strong> {{ page.Hull_Materials }}</div>{% endif %}
			{% if page.Length != null %}<div class="dib w-100"><strong>Length:</strong> {{ page.Length }}</div>{% endif %}
			{% if page.Beam != null %}<div class="dib w-100"><strong>Beam:</strong> {{ page.Beam }}</div>{% endif %}
			{% if page.Depth != null %}<div class="dib w-100"><strong>Depth:</strong> {{ page.Depth }}</div>{% endif %}
			{% if page.Weight != null %}<div class="dib w-100"><strong>Weight:</strong> {{ page.Weight }}</div>{% endif %}
			{% if page.Lost != null %}<div class="dib w-100"><strong>Lost:</strong> {{ page.Lost }}</div>{% endif %}
	</div>
</div>

{% include footer.html %}
